<h3><%=event_exist%></h3>
    <%if event_exist%>        
        <% if !alert.nil? %>
            <div class="alert alert-warning alert-dismissible fade show" role="alert" style= "color:white">
                <span class="alert-icon">                
                <i class="fas fa-exclamation-triangle"></i>
                </span>
                <span class="alert-text"><strong>Warning!</strong> <%= alert %></span>                
                <button type="button" class="btn-close" data-bs-dismiss="alert" aria-label="Close">
                    <span aria-hidden="true">&times;</span>
                </button>
            </div>          
        <% end %>
    <%end%> 
