<!-- 
<%= render "validation_code_modal", title: "" do %>

  <%= render "form_verification_code", {verification_code: @verification_code, match_player: @match_player} %>

<% end %> 


<h3 style= "color: white">New player to the match</h3>
-->
<h3>&nbsp;</h3>
<%= render "form_verification_code", {verification_code: @verification_code, match_player: @match_player} %>


